.seccionContainer{
    display:grid;
    height: 100%;
    grid-template-columns: 3fr 2fr;
    place-items: center;
    gap: 20px;


}
.cardContainer{

    width:99%;
    margin: 30px auto;
    margin-top:60px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:repeat(4,1fr) ;
    gap: 20px;
    grid-template-areas:
    ".      card1   .    "
    "card2  card1   card3"
    "card2  card4   card3"
    ".      card4   .    ";
    }

    .cardItems{

    padding: 20px;
    background:white;
    border-top:5px solid #667eea;
    box-shadow: 0 0 3px rgba(0,0,0,.5);
    text-align: center;
    flex-direction:column;
    align-items:center;

    }
    .cardTitle{
        margin: 20px 0;
        font-size:1.5rem;


        }
        .cardParrafo2{

                font-weight: 300;
                margin-bottom: 20px;

        }

        .cardImagen{
            width:50%;

        }
        .cardItems:nth-last-of-type(4){
        grid-area: card1;


        }
        .cardItems:nth-last-of-type(3){
        grid-area: card2;

        }
        .cardItems:nth-last-of-type(2){
        grid-area: card3;
        }
        .cardItems:nth-last-of-type(1){
        grid-area: card4;

        }