<section class="card">

    <div class="container">

        <h2 class="titleh2">¿Qué tenes ganas de jugar?</h2>
    

        <div class="cardContainer">

            <div class="cardItems">
                <figure class="cardImg" >
                        <a  routerLink="/adivina-el-numero">
                            <img src="assets/img/advina-el-numero.png"alt="" class="cardImagen"/>
                        </a>
                        
                        
                </figure>
                <h3 class="cardTitle">Adivina el numero</h3>
                
            </div>

            <div class="cardItems">
                <figure class="cardImg">

                    <a  routerLink="/ahorcado">
                        <img src="assets/img/ahorcado.png" alt="" class="cardImagen" >
                    </a>
                    
                </figure>
                <h3 class="cardTitle">Ahorcado</h3>
                <p class="cardParrafo2"></p>
                
            </div>

            <div class="cardItems">
                <figure class="cardImg">
                    <a  routerLink="/tateti">
                        <img src="assets/img/tateti.png" alt="" class="cardImagen" > 
                    </a>
                    
                    
                </figure>
                <h3 class="cardTitle">Ta te ti</h3>
                <p class="cardParrafo2"></p>
                    
            </div>

            <div class="cardItems">
                <figure class="cardImg">
                    
                    <a  routerLink="/piedra-papel-tijera">
                        <img src="assets/img-piedra/icono.png" alt="" class="cardImagen" > 
                    </a>
                    
                </figure>
                <h3 class="cardTitle">piedra, papel o tijera</h3>
                <p class="cardParrafo2"></p>
                
            </div>


        </div>
    </div>

</section>



