div {
    text-align: center;
  }
  
  button {
    margin-top: 5px;
    margin-left: 5px;
    
  }
  img{
      width: 200px;
  }
  .ahorcado{
      margin: 200px;
  }
  h4{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
  }