
<body >
    <header class="seccionPrincipal">

        

        <div class="seccionContainer container">

            <div class="texto">

                <h1 class="title">Ariel Gonzalez</h1>
                <p class="parrafo">Full Stack Developer</p>
                
            </div>

            <img src="assets/quienSoy/imgs/Startup_Outline.svg" alt="" class="ImagenTitle">


        </div>



    </header>

    <main class="main">

        <section class="Presentacioncontainer container">

            <div class="ContainerP">

                <img src="assets/quienSoy/imgs/FotoPerfil.png" alt="" class="imagenPerfil">
                <h2 class="PresentacionNombre">¿Quien soy?</h2>
                <p class="PresentacionPrincipal">Soy Argentino, tengo 27 años y busco crecer como desarrollador.</p>
                <p class="PresentacionParrafo">Actualmente me encuentro desempeñando el puesto de Analista programador web full stack en Integrity Seguros.</p>
            </div>
        </section>

        <section class="about container">

            <div class="aboutTex">
                <h2 class="tituloBorde">¿Que espero lograr?</h2>

                <p class="aboutParrafo">Busco crecer como desarrollador y especializarme en seguridad y testing. 
                </p>

                <p class="aboutParrafo">Poder tener la posibilidad de aprender y estudiar nuevos conceptos y tecnologias. </p>
                <p class="aboutParrafo">Aprender y mejorar las Buenas practicas para llevar a cabo los mejores proyectos.</p>

                

            </div>
            <figure class="aboutImagen">
                <img src="assets/quienSoy/imgs/Team building _Monochromatic.svg" alt="" class="aboutImg">
            </figure>

        </section>

        <section class="card">

            <div class="container">

                <h2 class="titleh2">¿Qué tecnologías manejo?</h2>
                <p class="cardParrarfo">Tengo conocimiento en:</p>

                <div class="cardContainer">

                    <div class="cardItems">
                        <figure class="cardImg">
                            <img src="assets/quienSoy/imgs/net.svg"alt="" class="cardImagen" />
                        </figure>
                        <h3 class="cardTitle">.NET Core</h3>
                        
                        <p class="cardParrafo2">Entity Framework, Web Api Rest, C#, Blazor.</p>
                        
                    </div>

                    <div class="cardItems">
                        <figure class="cardImg">

                            <img src="assets/quienSoy/imgs/bxl-javascript.svg" alt="" class="cardImagen">
                        </figure>
                        <h3 class="cardTitle">JavaScript</h3>
                        <p class="cardParrafo2">TypeScript, JQuery, NodeJs.</p>
                        
                    </div>

                    <div class="cardItems">
                        <figure class="cardImg">

                            <img src="assets/quienSoy/imgs/bxl-css3.svg" alt="" class="cardImagen">
                        </figure>
                        <h3 class="cardTitle">CSS</h3>
                        <p class="cardParrafo2">Estilo con Grid, flex Box, Bootstrap.</p>
                            
                    </div>

                    <div class="cardItems">
                        <figure class="cardImg">
                            
                        <img src="assets/quienSoy/imgs/SQL.svg" alt="" class="cardImagen">
                            
                        </figure>
                        <h3 class="cardTitle">SQL</h3>
                        <p class="cardParrafo2">Oracle, MySql.</p>
                        
                    </div>


                </div>
            </div>

        </section>
         
        <section class="curse curse-modificado container">

            <figure class="CourseImagen">

                <img src="assets/quienSoy/imgs/notebook.png" alt="" class="courseImg">
            </figure>
            <div class="courseAbout">

                <h2 class="title2">Proyectos</h2>
                <p class="couseParrafo">Es donde pongo a prueba mis conocimientos con proyectos personales a modo DEMO.</p>
                <a href="https://github.com/ArielGonzalez95"  target="_blank" class="cta">Acceder</a>
                

            </div>

        </section>

        <section class="curse container ">

            <figure class="CourseImagen CourseImagen--rigth">

                <img src="assets/quienSoy/imgs/curriculum.png" alt="" class="courseImg">
            </figure>
            <div class="courseAbout courseAbout--left">

                <h2 class="title2">Curriculum</h2>
                <p class="couseParrafo">Desde aqui podra descargar mi curriculum en formato PDF.</p>
                <a href="./Ariel_Gonzalez.pdf" class="cta">Acceder</a>
                

            </div>

        </section>

    </main>

    <footer class="footer">

            <div class="footerContainer container">
                <div class="footerContacto">
                    <div class="footerTexto">
                        <h2 class="title2">Contacto</h2>
                        <p class="fotterParrafo">Puedes contactarme por los siguientes medios.</p>

                        <div class="footerSocial">

                            <a href="https://github.com/ArielGonzalez95" class="footerLink" target="_blank" >
                                <img src="assets/quienSoy/iconosQuienSoy/github-logo-24.png" class="footerIcono" alt="">
                            </a>
                            
                            <a href="https://www.linkedin.com/in/ariel-gonzalez-bab7a3120/" target="_blank" class="footerLink">
                                <img src="assets/quienSoy/iconosQuienSoy/linkedin-square-logo-24.png" class="footerIcono" alt="">
                            </a>
                            <a href="https://wa.link/5wj89k" target="_blank" class="footerLink">
                                <img src="assets/quienSoy/iconosQuienSoy/phone-solid-24.png" class="footerIcono" alt="">
                            </a>
                            <a href="mailto:gonzalez.r.ariel@gmail.com" class="footerLink">
                                <img src="assets/quienSoy/iconosQuienSoy/mail-send-regular-24.png" class="footerIcono" alt="">
                            </a>


                        </div>
                    </div>

                        <figure class="footerImagen">

                            <img src="assets/quienSoy/imgs/Email campaign_Outline.svg" alt="" class="footerImg">
                        </figure>

                </div>

                    <p class="footerCopyrigh">Web Creada por &copy; Ariel Gonzalez, 2022.</p>


            </div>
    </footer>
    <script src="./main.js"></script>
</body>
