
<div class="title" *ngIf="userActive">
  <h1>Ta Te Ti</h1>
</div>

<div class="container">
  <button [ngStyle]="{'background-color':color[0]}" (click)="posision1()" ></button>
  <button [ngStyle]="{'background-color':color[1]}" (click)="posision2()" ></button>
  <button [ngStyle]="{'background-color':color[2]}" (click)="posision3()" ></button>
  <button [ngStyle]="{'background-color':color[3]}" (click)="posision4()" ></button>
  <button [ngStyle]="{'background-color':color[4]}" (click)="posision5()" ></button>
  <button [ngStyle]="{'background-color':color[5]}" (click)="posision6()" ></button>
  <button [ngStyle]="{'background-color':color[6]}" (click)="posision7()" ></button>
  <button [ngStyle]="{'background-color':color[7]}" (click)="posision8()" ></button>
  <button [ngStyle]="{'background-color':color[8]}" (click)="posision9()" ></button>
</div>


