<div class="container ">

    <div class="d-flex justify-content-center mt-5">

        <div class="mt-5">

            <h4>Iniciar Sesion</h4>

            <div class="form-group">

                <label for="formGroupExampleInput">Email</label>

                <input type="email" class="form-control" id="formGroupExampleInput" placeholder="Ingrese Correo"
                    [(ngModel)]="email" />

            </div>

            <div class="form-group">

                <label for="formGroupExampleInput2">Contraseña</label>

                <input type="pass" class="form-control" id="formGroupExampleInput2" placeholder="Ingrese Contraseña"
                    [(ngModel)]="password" />

            </div>

            <button type="submit" class="btn btn-primary mt-3 justify-content-center" (click)="SignIn(email, password)">
                Iniciar Sesion</button>

                <div><button routerLink="/registrar" class="btn btn-primary mt-3 justify-content-center">Registrarse</button></div>
                

        </div>

    </div>

</div>