
    <div class="container">
        <div class="title">Adivina el numero</div>

        <div> 
   
            <label>Introduce un numero <input [(ngModel)]='valorInput' type="text" pattern="[0-9]" onkeypress="return (event.charCode >= 48 && event.charCode <= 57)" ></label>

            <button class="btn-primary my-2" data-toggle="modal" data-target="#ventanaModal" ng (click)="compararNumeros()" ng (click)="limpiar()" > Jugar!!</button>

        </div>

        <div>
            <h4>Numeros Usados: <p *ngFor="let numeros of numerosUsados">{{numeros}} </p></h4>
          </div>

                        {{mensaje}}
    </div>
