.container {
    display:  grid;
    grid-template-columns: 1fr;
    text-align: center;
    margin: auto;
}

.title{
  font-size: 25px;
  margin-bottom: 100px;
}

h4{
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}